@page "/"

<h1>Proyecto de inventariado, hecho con Blazor Server</h1>
<hr />
<p>Pequeño ejemplo CRUD de inventario realizado con Blazor .NET. Simula las entradas y salidas de productos almacenados en bodegas. Estos productos a su vez están clasificados en categorías.</p>
<ul class="list-group">
    <li class="list-group-item"><strong>Lista de categorías: </strong>Podrás visualizar las categorías de productos, así como dar de alta o modificarlas.</li>
    <li class="list-group-item"><strong>Lista de productos: </strong>En función de una categoría, podrás visualizar los productos, así como dar de alta o modificarlos.</li>
    <li class="list-group-item"><strong>Crear almacenamiento: </strong>Una bodega podrá almacenar productos.</li>
    <li class="list-group-item"><strong>Crear entradas / salidas: </strong>Una vez configurados los productos que hay en cada bodega (almacenamiento), se podrá hacer un ingreso o retirada de los mismos.</li>
</ul>

<SurveyPrompt Title="¿Quieres saber más acerca de Blazor?" />